/**********************************
** Footer
**********************************/

#footer-section {
    background-color: #029487;
    padding: 40px 0px;
}

#footer-nav-wrapper {
    display: inline-block;
    width: 75%;
    vertical-align: top;
}

#footer-contact-wrapper {
    display: inline-block;
    width: 24.5%;
    vertical-align: top;
}

.footer-nav-list-wrapper {
    display: inline-block;
    width: 24.6%;
    vertical-align: top;
}

.footer-nav-list {
    list-style-type: none;
}

.footer-nav-list-heading {
    color: #fff;
}

.footer-nav-list-item-link {
    color: #E1EF42;
    padding: 8px 0px;
    text-decoration: none;
    display: block;
}

.footer-nav-list-item-link:hover {
    text-decoration: underline;
}

.concact-icon {
    display: inline-block;
    width: 15%;
    height: auto;
}

.footer-location-text,
.footer-telephone-text {
    display: inline-block;
    color: #fff;
    width: 82.5%;
    vertical-align: top;
    padding-left: 2%;
    
}

.footer-location-text {
    font-size: 10px;
    padding-top: 10px;
}

.footer-telephone-text {
    padding-top: 8px;
    font-size: 20px;
}

#footer-social-icons-list {
    list-style-type: none;
    padding: 20px 0px;
}

.footer-social-icons-list-item {
    display: inline-block;
    width: 18.5%;
    height: 18.5%;
    background-color: #067A6D;
    text-align: center;
    padding: 3px;
}

.footer-social-icons-list-item:hover {
    background-color: #FEED2B;
}

.footer-social-icons-list-item a img {
    width: 80%;
}

#footer-copyright-text {
    color: #fff;
}