
/*
< 480px Mobile
< 768px Tablet
< 1024px Tablet Landscape
< 1600px Laptop
> 1600px Desktop
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.right {
    float: right;
}

.clear-fix {
    clear: both;
}

.fixed-wrapper {
    display: table;
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
}

.yellow-background {
    background-color: #FEEA3B;
}

.green-background {
    background-color: #019587;
}

.red-background {
    background-color: #F34135;
}

.yellow-color {
    color: #FEEA3B;
}

.green-color {
    color: #019587;
}

.white-color {
    color: #fff;
}

.price-card-title,
.price-card-info,
.price-card-price,
.price-card-price-info,
.price-card-button,
.image-text-info-h3,
.image-text-info-p,
.option-text,
.option-heading,
.testimonial-text,
.testimonial-signature,
.footer-nav-list-heading,
.footer-nav-list,
#footer-contact-wrapper,
#footer-copyright-text,
#features-section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

#header-section {
    background-color: #5b429d;
    background-image: url("./media/laptop.jpg");
    background-size:     cover; 
    background-repeat:   no-repeat;
    background-position: center center; 
    background-attachment: fixed;
}

#header-overlay {
    background-image: linear-gradient(to right, rgba(1, 149, 135, 0.6) , rgba(1, 149, 135, 1));
}

#logo {
    display: block;
    margin: 80px 0px;
}

#header-benefits {
    margin-top: 50px;
    margin-bottom: 150px;
}

#header-benefits h1,
#header-benefits h3 {
    color: #E1EF42;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

#benefits-text-wrapper {
    display: inline-block;
    width: 65%;
}

#header-benefits h1 {
    font-size: 60px;
}

#header-benefits h3 {
    font-size: 35px;
}

.benefits-list {
    list-style-type: none;
    display: inline-block;
    width: 40%;
    vertical-align: top;
}
.benefits-list-item {
    padding: 10px;
}
.benefits-list-item span {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 3px;
    vertical-align: top;
    display: inline-block;
}

#header-get-started {
    display: inline-block;
    width: 34%;
    vertical-align: top;
}

#header-get-started div p {
    text-align: right;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

#header-get-started div h2 {
    text-align: right;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 140px;
    font-weight: 200;
    line-height: 120px;
}

#get-started-button {
    display: block;
    width: 90%;
    font-size: 30px;
    background-color: #E1EF42;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 12px 5%;
    margin:80px 20px;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#get-started-button:hover {
    background-color:#c0160b;
    color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}


/**********************************
** Price section
**********************************/

#price-section {
    background-color: #F2F2F2;
    padding-top: 50px;
    padding-bottom: 50px;
}

.price-card {
    display: inline-block;
    width: 32%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.price-card:nth-child(2) {
    margin-left: 1.5%;
    margin-right: 1.5%;
}



.price-card-title {
    font-size: 30px;
    padding: 15px 0px 5px 15px;
}

.price-card-info {
    font-size: 20px;
    padding-left: 15px;
}

.price-card-price {
    font-size: 50px;
    padding: 0px 0px 15px 15px;
}

.price-card-price-info {
    font-size: 15px;
}

.price-card-list {
    list-style-type: none;
    padding: 15px;
}

.price-card-list-item {
    color: #959595;
    padding: 10px 0px 0px 10px;
}

.price-card-button {
    text-decoration: none;
    color: #fff;
    display: block;
    width: 90%;
    text-align: center;
    background-color: #019587;
    margin: 20px 5%;
    padding: 10px 0px 10px 0px;
}

.round-block-image {
    border-radius: 50%;
    display: inline-block;
}

.promo {
    border-radius: 50%;
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: yellow;
    color: #000;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    margin-left: 20px;
    padding: 3px;
}

.image-text-wrapper {
    display: inline-block;
    width: 69.5%;
    vertical-align: top;
}

.image-text-info-h3 {
    margin: 30px 20px 20px 30px;
    font-size: 45px;
}

.image-text-info-p {
    color: #959595;
    margin: 30px 20px 20px 30px;
    font-size: 15px;
    line-height: 25px;
}

#price-info-wrapper {
    margin: 40px 0px 50px 0px;
}

#price-info-image {
    width: 30%;
}

#get-started-section {
    margin: 40px 0px;
}

#get-started-image {
    width: 30%;
    float: right;
}

#get-started-heading,
#get-started-text {
    margin-left: 0px;
}

#get-started-link {
    display: block;
    width: 200px;
    font-size: 20px;
    background-color: #029487;
    color: #fff;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 12px 5%;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


/**********************************
** Get started
**********************************/

#options-section {
    background-color: #F2F2F2;
    padding: 80px 0px;
}

.option-container {
    display: inline-block;
    width: 48%;
    margin-right: 1.5%;
    margin-top: 30px;
}

.option-image {
    display: inline-block;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 25%;
}

.option-text {
    padding-left: 20px;
    padding-top: 10px;
    display: inline-block;
    width: 69.5%;
    vertical-align: top;
}

.option-heading {
    font-weight: bold;
    color: #019587;
}

.option-text-info {
    padding-top: 15px;
    color: #878787;
}

/**********************************
** Testimonials
**********************************/
#testimonials-section {
    background-color: #029487;
    padding: 80px 0px;
}

.testimonial-item {
    display: inline-block;
    width: 32%;
    padding-right: 1%;
}

.testimonial-image {
    display: block;
    width: 50%;
    margin-bottom: 25px;
}

.testimonial-text {
    color: #fff;
    font-size: 17px;
    padding-bottom: 30px;
}

.testimonial-quotes,
.testimonial-signature {
    color: #FEEA3B;
    font-size: 17px;
}


/**********************************
** Features
**********************************/

#features-section {
    padding: 40px 0px;
    background-color: #F2F2F2;
}

#features-list,
#features-details-wrpper {
    display: inline-block;
    vertical-align: top;
}

#features-list {
    width: 30%;
    list-style-type: none;
}

#features-details-wrpper {
    width: 69.5%;
    background-color: #fff;
    box-shadow: 4px 4px 2px -2px gray;
}

.features-list-item {
    width: 96%;
    margin-bottom: 10px;
    margin-right: 4%;
    background-color: #019587;
    box-shadow: 0 4px 2px -2px gray;
}

.features-list-item:hover {
    margin-right: 0px;
    width: 100%;
    background-color: #fff;
    border-left: 5px solid #FDE454;
}

.features-list-item a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #fff;
}

.features-list-item a:hover {
    color: #2E2F31;
}

#features-details-heading {
    padding: 3%;
    color: #383C3D;
    font-weight: 100;
    font-size: 40px;
}

.features-details-item {
    display: inline-block;
    padding: 3%;
    width: 49.5%;
}

.features-details-item-heading {
    color: #019587;
    font-size: 25px;
    font-weight: 200;
}

.feature-details-item-text {
    color: #868A8D;
}

/**********************************
** Newsletter
**********************************/

#newsletter-section {
    background-color: #FEEA3B;
    padding-bottom: 40px;
}

#subscribe-input-wrapper {
    position: relative;
    margin: 40px 0px;
}

#subscribe-text {
    float: left;
    width: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

#subscribe-button {
    float: right;
    width: 200px;
    font-size: 20px;
    background-color: #029487;
    color: #fff;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 10px 5px;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#subscribe-input {
    width: 300px; /* fallback */
    width: calc(100% - 410px);
    vertical-align: bottom;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 3px;
}

#subscribe-info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #029487;
}

/**********************************
** Footer
**********************************/

#footer-section {
    background-color: #029487;
    padding: 40px 0px;
}

#footer-nav-wrapper {
    display: inline-block;
    width: 75%;
    vertical-align: top;
}

#footer-contact-wrapper {
    display: inline-block;
    width: 24.5%;
    vertical-align: top;
}

.footer-nav-list-wrapper {
    display: inline-block;
    width: 24.6%;
    vertical-align: top;
}

.footer-nav-list {
    list-style-type: none;
}

.footer-nav-list-heading {
    color: #fff;
}

.footer-nav-list-item-link {
    color: #E1EF42;
    padding: 8px 0px;
    text-decoration: none;
    display: block;
}

.footer-nav-list-item-link:hover {
    text-decoration: underline;
}

.concact-icon {
    display: inline-block;
    width: 15%;
    height: auto;
}

.footer-location-text,
.footer-telephone-text {
    display: inline-block;
    color: #fff;
    width: 82.5%;
    vertical-align: top;
    padding-left: 2%;
    
}

.footer-location-text {
    font-size: 10px;
    padding-top: 10px;
}

.footer-telephone-text {
    padding-top: 8px;
    font-size: 20px;
}

#footer-social-icons-list {
    list-style-type: none;
    padding: 20px 0px;
}

.footer-social-icons-list-item {
    display: inline-block;
    width: 18.5%;
    height: 18.5%;
    background-color: #067A6D;
    text-align: center;
    padding: 3px;
}

.footer-social-icons-list-item:hover {
    background-color: #FEED2B;
}

.footer-social-icons-list-item a img {
    width: 80%;
}

#footer-copyright-text {
    color: #fff;
}


@media screen and (max-width: 1024px) {
    
    .fixed-wrapper {
        width: 90%;
    }


    #logo {
        text-align: center;
    }
    
    #header-get-started {
        margin: 40px auto;
        width: 100%;
        float: none;
        text-align: center;
        display: block;
    }

    #benefits-text-wrapper h3 {
        margin: 40px auto;
    }

    #heading-offer {
        display: block;
        margin: 0 auto;
        
        float: none;
    }

    #heading-offer h2 {
        text-align: center;
    }

    #subscribe-input-wrapper {
        padding: 0px 5%;
    }

    #subscribe-info {
        padding: 0px 5%;
    }

    #benefits-text-wrapper {
        width: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    
    #header-get-started div h2,
    #header-get-started div p {
        text-align: center;
    }

    /* #header-get-started {
        display: block;
        margin: 30px auto;
        text-align: center;
        float: none;
        clear: both;
    } */
    
    
    #footer-nav-wrapper {
        display: block;
        width: 100%;
        padding: 0 5%;
        text-align: center;
    }

    .footer-nav-list-wrapper {
        width: 22%;
        text-align: left;
    }
    
    #footer-contact-wrapper {
        display: block;
        width: 50%;
        text-align: center;
        margin: 40px auto;
    }

    .footer-nav-list-heading {
        font-size: 2rem;
    }

    .footer-location-text {
        font-size: 1rem;
        text-align: left;
    }

    .footer-telephone-text {
        font-size: 2rem;
        text-align: left;
    }

    #footer-copyright-text {
        font-size: 1rem;
    }

}

@media screen and (max-width: 940px) {
    .price-card {
        width: 89%;
        margin: 5%;
        padding: 0px;
    }

    .price-card:nth-child(2) {
        width: 89%;
        margin: 5%;
        padding: 0px;
    }
}

@media screen and (max-width: 860px) {


    #price-info-image {
        width: 60%;
        display: block;
        margin: 40px auto;
    }

    #price-info-text-wrapper {
        margin: 40px auto;
        display: block;
        width: 90%;
    }

    #price-info-heading {
        font-size: 3rem;
    }

    #price-info-text {
        font-size: 1.3rem;
    }

    #get-started-image {
        float: none;
        display: block;
        width: 60%;
        margin: 40px auto;
    }

    #get-started-text-wrapper {
        margin: 40px auto;
        display: block;
        width: 90%;
    }

    .option-container {
        display: block;
        width: 100%;
        margin: 40px auto;
    }

    .testimonial-item {
        display: block;
        width: 100%;
        margin: 40px auto;
    }

    .testimonial-image {
        display: block;
        margin: 20px auto;
    }
}

@media screen and (max-width: 768px) {
    .footer-nav-list-wrapper {
        width: 48%;
    }

    #features-list {
        display: block;
        margin: 40px auto;
        width: 80%;
    }

    #features-details-wrpper {
        display: block;
        margin: 40px auto;
        width: 80%;
    }

    #subscribe-text,
    #subscribe-input,
    #subscribe-button {
        display: block;
        margin: 20px auto;
        width: 80%;
        text-align: center;
        float: none;
    }
}

@media screen and (max-width: 630px) {

    .benefits-list {
        width: 100%;
    }

    /* #header-get-started {
        text-align: right;
        margin-right: 20%;
        float: right;
        padding: 0px;
    } */

    #features-details-heading {
        width: 80%;
        font-size: 2rem;
        text-align: center;
        margin: 0 auto;
    }

    .features-details-item {
        display: block;
        margin: 20px auto;
        width: 80%;
    }

    .footer-nav-list-wrapper {
        width: 100%;
        padding: 20px 10%;
        text-align: center;
    }

    .footer-nav-list-heading {
        font-size: 3rem;
    }

    .footer-nav-list-item-link {
        font-size: 1.2rem;
    }

    #footer-contact-wrapper {
        width: 100%;
    }

    .footer-location-text {
        font-size: 1.5rem;
    }

    .footer-telephone-text {
        font-size: 3rem;
    }

    #footer-copyright-text {
        font-size: 1.5rem;
    }
}
